__pycache__
.vscode
.DS_Store
Leaderboard
InteractionCount
Inventory
script.exp
start.sh
Elliot
env
lib64
.cache
token*
extratokens
test*
use-dev-mode
InteractionCountDict
youtube-api-key
spotify-secret
spotify-id
genius-token
output*
Elliot.sqlite
ElliotGuild.sqlite
ElliotUser.sqlite