__pycache__
.vscode
Leaderboard
InteractionCount
Inventory
script.exp
start.sh
bin
Elliot
include
lib
lib64
.cache
token*
extratokens
test*
use-dev-mode
InteractionCountDict
youtube-api-key
spotify-secret
spotify-id
genius-token
output*
Elliot.sqlite