__pycache__
.vscode
.DS_Store
Leaderboard
InteractionCount
Inventory
script.exp
start.sh
Elliot
env
.env
lib64
.cache
token*
extratokens
test*
use-dev-mode
InteractionCountDict
output*
Elliot.sqlite
ElliotGuild.sqlite
ElliotUser.sqlite
temp*